body,
html {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  font-family: "Jacques Francois", sans-serif;
  scroll-behavior: smooth;
  overflow-y: scroll;
}

/* Theme Transitions */
.dashboard-page {
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

/* Dark Theme Specific Styles */
.dashboard-page.dark {
  background: linear-gradient(135deg, #0b0b0b 0%, #025702dc 40%, #010501 100%);
  color: #fff;
}

/* Light Theme Specific Styles */
.dashboard-page {
  background: linear-gradient(135deg, #1cdf4d 0%, #eaeaea 50%, #00a035 100%);
  color: #004d40;
}


.custom-gradient-light {
  background: linear-gradient(135deg, #1cdf4d 0%, #eaeaea 50%, #00a035 100%);
  color: #004d40;
}

.custom-gradient-dark {
  background: linear-gradient(135deg, #0b0b0b 0%, #025702dc 40%, #010501 100%);
  color: #fff;
}

